@keyframes doRotation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.rotate {
  animation: doRotation;
  animation-duration: 1s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
