@use '../constants.scss' as constants;

.root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: constants.$zIndexDialog;

  background-color: constants.$backDropColor;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
}

.text {
  font-family: constants.$fontFamily;
}

/*
 * https://css-loaders.com/dots/
 */
.spinner {
  width: 35px;
  aspect-ratio: 1;
  --_g: no-repeat radial-gradient(farthest-side, #fcfcfc 94%, #fff0);
  background:
    var(--_g) 0 0,
    var(--_g) 100% 0,
    var(--_g) 100% 100%,
    var(--_g) 0 100%;
  background-size: 40% 40%;
  animation: l38 0.5s infinite;
}
@keyframes l38 {
  100% {
    background-position:
      100% 0,
      100% 100%,
      0 100%,
      0 0;
  }
}
